.main {
    padding: 1rem 2.5rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.main__wrapper_emoji {
    display: none;
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main__title_section>p {
    font-size: 2rem;
    font-weight: 800;
    padding: 0.5rem;
    padding-left: 0;
}

.main__title_section>span {
    background-color: #D9D9D9;
    display: block;
    height: 8px;
    width: 100%;
}

.main__content_section {
    padding: 1.5rem 0;
    line-height: 1.5rem;
    font-size: 0.85rem;
}

.main__skills_section {
    padding: 0.5rem 0;
    width: 100%;
}

.main__skills_section>p {
    font-weight: 600;
}

.main__skills_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
    padding: 1.5rem 0;
    grid-gap: 1rem 1.25rem;
}

.main__skills_box>div {
    padding: 0.6rem;
    border-radius: 50px;
    text-align: center;
    font-size: 0.85rem;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.15);
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
}

.main__skills_box>div.javascript {
    border: 2px solid #F7DF1E;
    color: #F7DF1E;
}

.main__skills_box>div.html {
    border: 2px solid #EF642A;
    color: #EF642A;
}

.main__skills_box>div.css {
    border: 2px solid #0170BA;
    color: #0170BA;
}

.main__skills_box>div.react {
    border: 2px solid #00D8FF;
    color: #00D8FF;
}

.main__skills_box>div.angular {
    border: 2px solid #C3002F;
    color: #C3002F;
}

.main__skills_box>div.nodejs {
    color: #80BD00;
    border: 2px solid #80BD00;
}

.main__skills_box>div.nextjs {
    color: #fff;
    border: 2px solid #fff;
}

.main__skills_box>div.git {
    color: #2D2D2D;
    border: 2px solid #2D2D2D;
}

@media (min-width: 850px) {
    .main {
        padding: 2.5rem;
    }

    .main__wrapper_emoji {
        max-width: 400px;
        display: flex;
        justify-content: center;
    }

    .main__wrapper_emoji img {
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
        z-index: -1;
    }

    .main__wrapper {
        padding: 2rem;
        max-width: 700px;
    }
}