.footer__wrapper {
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.footer__line {
    min-width: 100px;
    flex-grow: 1;
    border: 1px solid #000;
}

.footer__text {
    padding-left: 0.5rem;
    font-size: 12px;
}
